{{extend 'layout.html'}}
{{=form_queue}}
<center><h1>  {{=pretty_name}}</h1></center>
{{=form.custom.begin}}
<table width="100%">
    <tr><td>
  <h2> Input</h2>
        <h3>  Please upload your data in one of these ways.</h3>
        </td><td><td>
        <font size="5">{{=form.custom.submit}}</font>
        </td></tr>
</table>
{{labels = form.custom.widget.keys()}}
{{left_labels=labels[:]}}

<table>
 <tr>
{{for i in range(10):}}
    {{label='myfile'+str(i)}}    
    {{=label}}&nbsp;&nbsp;&nbsp;{{=form.custom.widget[label]}}&nbsp;&nbsp;&nbsp;
    {{=label+'_content'}}&nbsp;&nbsp;&nbsp;{{=form.custom.widget[label+'_content']}}<br/>
{{=label+'_id'}}&nbsp;&nbsp;&nbsp;{{=form.custom.widget[label+'_id']}} <font size="5">&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;</font> 
    {{=label+'_path'}}&nbsp;&nbsp;&nbsp;{{=form.custom.widget[label+'_path']}}<br/>
    {{left_labels.remove(label+'_content')}}
    {{left_labels.remove(label+'_path')}}
    {{left_labels.remove(label+'_id')}}
    {{left_labels.remove(label)}}
{{pass}}
 {{left_labels.remove('id')}}
 
{{for i in range(len(column_name)):}}
 <tr><td><td><td>
 <h2> {{=column_name[i]}}</h2>
     </td><td><td><td>
	{{for label in labels:}}
    	{{if label in protocol_parameters.keys():}}
    		{{if  protocol_parameters[label].category==column_name[i]:}}
     <p style="line-height: 78%;"> {{=protocol_parameters[label].pretty_name}}</p><br/>
    			{{left_labels.remove(label)}}
    		{{pass}}
    	{{pass}}
	{{pass}}
     </td></td><td><td>
     	{{for label in labels:}}
    		{{if label in protocol_parameters.keys():}}
    			{{if  protocol_parameters[label].category==column_name[i]:}}
					{{=form.custom.widget[label]}}<br/>
    			
    			{{pass}}
    		{{pass}}
		{{pass}}
</td></td></td><td>

{{pass}}
    
<tr><td><td></td>
    <td><td></td>
         <td><td>
         <h2> <center>{{=form.custom.submit}}</center></h2>
    </td></td>
</tr>
</table>


    
{{=form.custom.end}}
